$fuente:  "Open Sans", sans-serif;
$color:  #f44336;
$fondo:  #fff;
h1.title {
    font: $fuente;
    color: $color;
}

div.container {
    color:$color;
    background:$fondo;
    width: 100%;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
}